/* 画面幅が○○px以下の時の条件 */
@media screen and(min-width:768px){
  h2{
    font-size: 30px;
  }
  p{
    font-size: 25px;
  }
  #parent{
    /* display: flex　子要素を並列にする */
    display: flex;
    /* アイテムを折り返し、上から下に並べる */
    flex-wrap: wrap;
    flex-direction: column; 
  }
}
h1{
  margin: 0;
  color: rgb(255,255,255);
}
h2{
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
}
h2::before{
  content: "●";
  color: rgb(239, 111, 139);
}
p{
  margin: 0;
  font-size: 20px;
}

/* 二番目のp要素内のテキストの中で一番目の文字のみ適用*/
.contents p:nth-of-type(2)::first-letter{
  font-weight: bold;
  color: rgb(97, 206, 249);
}
body{
  margin: 0;
}
a{
  font-size: 20px;
}
header{
  margin-bottom: 20px;
  background-color: rgb(244,79,79);
  text-align: center;
}
main{
  margin: 10px;
}
#parent{
 /* justify-contentは、アイテムの横方向（主軸）の揃え方 */
 /*  space-around：一番左と一番右のアイテムも含め、均等な間隔で配置する*/
 justify-content: space-around;
}
.contents{
  border: solid 3px rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px 10px 15px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}
.contents img{
  margin: 10px 0px 10px 0px;
  width: 70%;
}
footer{
  background-color: rgb(244, 79, 79);
  text-align: center;
}

a:link{
  color: rgb(255, 255, 255);
}
/* 訪問済みリンクの文字色が変わる */
a:visited{
  color: rgb(193, 234, 251);
}
/* マウスカーソルが乗ると文字色が変わる */
a:hover{
  color: rgb(245, 178, 168);
}